:root {
  --color-primary-light: #15223b;
  --color-primary: #11192a;
  --color-primary-dark: #151c31;

  --color-secondary-light: #9c92f8;
  --color-secondary: #7c6ef6;
  --color-secondary-dark: #5b4af4;
}