@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisse-intl/SuisseIntl-Regular-WebM.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisse-intl/SuisseIntl-Medium-WebM.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisse-intl/SuisseIntl-SemiBold-WebM.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/suisse-intl/SuisseIntl-Bold-WebM.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}